body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #87898C;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bed {
  width: 60px;
  height: 90px;
  margin-top: 5px;
  background: #3E4F59;
  border-radius: 5px;
  transition: all ease 1s;
  font-size: 25px;
  text-align: center;
  position: relative;
  color: #F9F7F5;
}

.west .bed,
.east .bed{
  width: 90px;
  height: 60px;
  margin-top: 44px;
}

.west .bed:nth-child(1),
.east .bed:nth-child(1){
  margin-top: 10px;
}

.pillows{
  position: absolute;
}

.south .pillows{
  bottom: 0px;
}
.east .pillows{
  right: 0px;
}

.north .pillows,
.south .pillows{
  display: flex;
}

.ellipse {
  width: 25px;
  height: 25px;
  margin-left: 3px;
  shape-outside: ellipse(50% 20%);
  clip-path: ellipse(50% 20%);
  background: #F9F7F5;
}

.west .ellipse,
.east .ellipse{
  shape-outside: ellipse(20% 50%);
  clip-path: ellipse(20% 50%);
  margin-left: 0px;
  margin-top: 3px;
  top: 3px;  
}

.text_stock{
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 60px;
}
.north .text_stock,
.south .text_stock{
  line-height: 90px;
}

.text_id{
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 12px;
  text-align: start;
}
.west .text_id{
  width: 75%;
  right: 0;
}
.east .text_id{
  width: 75%;
}
.north .text_id{
  height: 75%;
  bottom: 0;
}
.south .text_id{
  height: 75%;
  top: 0;
}

.parent_view{
  transition: all ease 200ms;
  -webkit-transition: all ease 200ms;
  -moz-transition: all ease 200ms;
  -o-transition: all ease 200ms;
  -ms-transition: all ease 200ms;
  opacity: 0;
}

.high{
  background: #0D1C26;
}

.not_found_inv{
  background: #dc3545;
}

.brand_img{
  width: 100%;
}
